body {
margin: 0 auto;
}

#wrapper {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: normal;
background-color:#eee;
border-color: #111;
border-style: solid;
margin: 0 auto;
}

#header {
margin: 0 auto 20px;
background-color:#eee;
}

#name {
letter-spacing: -1px;
line-height: 100px;
font-size: 40px; color: white;
text-shadow: 1px 0px 0px #eee, 2px 1px 0px #eee, 3px 2px 0px #eee, 4px 3px 0px #eee, 6px 5px 2px #111;
display: inline;
z-index: 999; position: relative;
margin-top: 10em;
} 

h1 a {
color: #444;
text-decoration: none;
}
h1 a:hover {
color: #666;
text-decoration: none;
text-shadow: 1px 0px 0px #eee, 2px 1px 0px #eee, 3px 2px 0px #eee, 4px 3px 0px #eee, 6px 5px 3px #999;
}
