a {
	text-decoration:none;
	color: black;
}
#wrapper {
	width: 640px;
	margin: 0 auto;
}
#header {
	text-align: center;
	background-color: #eee;
}
#header #name {
	font-size: 80px;
	line-height: 1.5em;
}
#header #dday {
	font-size: 100px;
}
#header #string {
	font-size: 50px;
	line-height: 1em;
}
#textbox {
	width: 440px;
}